
*.csv
output/_oldOutput/corr0.png
output/_oldOutput/corrcluster0.png
output/_oldOutput/corrcluster1.png
output/_oldOutput/histograms.pdf
output/_oldOutput/histograms/feat16_logged.png
output/_oldOutput/histograms/feat16_standardized.png
output/_oldOutput/histograms/feat16_StdLog.png
output/_oldOutput/histograms/feat16no_preprocess.png
output/_oldOutput/Untitled-1.png
scripts/old_tuning_notebooks/.ipynb_checkpoints/FINALREGULOG-checkpoint.py
scripts/old_tuning_notebooks/.ipynb_checkpoints/ridge_hyperparams_Median-checkpoint.py
scripts/old_tuning_notebooks/correlation.py
scripts/old_tuning_notebooks/FINALREGULOG.py
scripts/old_tuning_notebooks/regulog_gridsearch.py
scripts/old_tuning_notebooks/ridge_hyperparams_Median.py
scripts/old_tuning_notebooks/ridgetest.py
